{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="full-center">
        <div class="ui very padded text container segment">
            {{ include('components/_flashes.html.twig') }}
            <form method="post">


                {% if app.user %}
                    <div class="mb-3">
                        <p>Vous êtes connectez en tant que : {{ app.user.username }} !</p>
                        <p>Voulez-vous vous déconnectez ? <a href="{{ path('app_logout') }}">Logout</a></p>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>

                {% if error %}
                    <div class="ui error message">{{ error.messageKey|trans(error.messageData, 'flashes') }}</div>
                {% endif %}

                <div class="ui form">
                    <div class="field">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="field">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="ui submit button" type="submit">Connexion</button>
                </div>


                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}


            </form>
        </div>
    </div>


{% endblock %}
