{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block subHeader %}{% endblock %}

{% block body %}
    <div class="full-center">
        <div class="ui very padded text container segment">
            {{ include('components/_flashes.html.twig') }}
            <form method="post">
                {% if app.user %}
                    <div class="mb-3">
                        <p>Vous êtes connectez en tant que : {{ app.user.username }} !</p>
                        <p>Voulez-vous vous déconnectez ? <a href="{{ path('user_logout') }}">Logout</a></p>
                    </div>
                {% endif %}

                <h1>Connectez-vous</h1>
                <div class="ui divider"></div>
                {% if error %}
                    <div class="ui error message">{{ error.messageKey|trans(error.messageData, 'flashes') }}</div>
                {% endif %}

                <div class="ui form">
                    <div class="field">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="field">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="ui submit button" type="submit">Connexion</button>
                </div>
            </form>
            <div class="link-auth">
                <p><a href="{{ path('user_forgot_password_request') }}">Mot de oublié ?</a></p>
                <p><a href="{{ path('user_register') }}">S'inscrire</a></p>
            </div>
        </div>
    </div>


{% endblock %}
