<div class="ui sidebar inverted vertical menu sidebar-menu" id="sidebar">
    <div class="item">
        <div class="header">General</div>
        <div class="menu">
            <a class="item {{ setActive('admin') }}" href="{{ path('admin') }}">
                <div>
                    <i class="icon tachometer alternate"></i>
                    Dashboard
                </div>
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">
            Administration
        </div>
        <div class="menu">
            <a class="item">
                <div><i class="users icon"></i>Équipe</div>
            </a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            Utilisateurs
        </div>
        <div class="menu">
            <a class="item {{ setActive('admin_user_index') }}" href="{{ path('admin_user_index') }}">
                <div><i class="users icon"></i>Liste</div>
            </a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            Ressources
        </div>
        <div class="menu">
            <a class="item {{ setActive('admin_resource_inline') }}" href="{{ path('admin_resource_inline') }}">
                <div><i class="check icon"></i>En ligne</div>
            </a>
            <a class="item {{ setActive('admin_resource_waiting') }}" href="{{ path('admin_resource_waiting') }}">
                <div><i class="hourglass start icon"></i>En attente</div>
            </a>
            <a class="item {{ setActive('admin_resource_denied') }}" href="{{ path('admin_resource_denied') }}">
                <div><i class="times icon"></i>Refusé</div>
            </a>
        </div>
    </div>

    <div class="item">
        <div class="header">
            Categories
        </div>
        <div class="menu">
            <a href="{{ path('admin_category_index') }}" class="item {{ setActive('admin_category_index') }}">
                <div><i class="folder icon"></i>Liste</div>
            </a>
            <a class="item " href="">
                <div><i class="hourglass start icon"></i>En attente</div>
            </a>
            <a href="{{ path('admin_category_new') }}" class="item {{ setActive('admin_category_new') }}">
                <div><i class="plus icon"></i>Ajouter</div>
            </a>
        </div>
    </div>
</div>
