{% extends 'base.html.twig' %}

{% block title %}PatchNote index{% endblock %}

{% block subHeader %}{% endblock %}

{% block body %}
    <div class="ui container my-3">
        <div class="ui segment inverted t-justify">
            <h1 class="color-five">Version {{ patchNote.version }}</h1>
            {% if patchNote.latest == true %}
                <div class="ui label my-1"> A la une </div>
            {% endif %}
            <p>{{ patchNote.description }}</p>
            <p>{{ patchNote.createdAt|date('y-m-Y') }}</p>
            {% if app.user and app.user.id == patchNote.resource.user.id %}
                <div class="flex-center">
                    {% if patchNote.latest == false %}
                        <form action="{{ path('patch_note_latest', {
                            'category_slug'   : patchNote.resource.category.slug,
                            'resource_slug'   : patchNote.resource.slug,
                            'patch_note_slug' : patchNote.slug
                        }) }}" method="post">
                            <button class="ui button" type="submit" value="">Mettre en avant</button>
                        </form>
                    {% endif %}


                    <div class="ui button">
                        <a href="{{ path('patch_note_edit', {
                            id: patchNote.id ,
                            slug: patchNote.resource.slug
                        }) }}">Editer</a>
                    </div>
                    {{ include('resource/patch_note/_delete_form.html.twig') }}
                </div>
            {% endif %}
        </div>
        <div class="ui segment inverted t-justify">
            {{ patchNote.content }}
        </div>
    </div>
{% endblock %}
