{% extends 'admin.html.twig' %}

{% block title %}Les Catégories{% endblock %}

{% block body %}
    <div class="ui grid stackable padded">
        {% for category in categories %}
            {% set color = random([
                'red', 'blue', 'orange', 'yellow', 'olive', 'green', 'teal', 'violet',
                'purple', 'pink', 'brown', 'black'
            ]) %}
            <div class="four wide computer eight wide tablet sixteen wide mobile column">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="ui right floated header {{ color }}">
                            <i class="folder icon"></i>
                        </div>
                        <div class="header">
                            <div class="ui {{ color }} header">
                                {{ category.name }}
                            </div>
                        </div>
                        <div class="meta">
                            Catégorie
                        </div>
                        <div class="description">
                            {{ category.description }}
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui three buttons">
                            <a href="{{ category.slug ? path('category_resource', {
                                category_slug: category.slug
                            }) : '#' }}" class="ui {{ color }} button"><i class="eye icon"></i></a>
                            <a href="{{ path('admin_category_edit', {
                                id: category.id
                            } ) }}" class="ui {{ color }} button"><i class="edit icon"></i></a>
                            {{ include('admin/category/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="sixteen wide column">
                Aucune catégorie trouvée !
            </div>
        {% endfor %}
        <div class="sixteen wide column">
            <div class="navigation">
                {{ knp_pagination_render(categories) }}
            </div>
        </div>
    </div>
{% endblock %}
