{% extends 'base.html.twig' %}

{% block title %}Historique des Versions{% endblock %}

{% block subHeader %}{% endblock %}

{% block body %}
<main class="main-pns">
        <div class="subheader-pns">
            <h1 class="color-five">Versions</h1>
            <div class="bar-pns"></div>
            <p>L'Historique Complet des Versions</p>
        </div>

    <div class="ui container my-3">
        {% if app.user and app.user.id == resource.user.id %}
            <div>
                <a href="{{ path('patch_note_new', { slug: resource.slug }) }}">Ajouter une version</a>
            </div>
        {% endif %}
        <div>
            <a href="{{ path('resource_show', {
                category_slug: resource.category.slug,
                resource_slug: resource.slug
            }) }}"><i class="arrow left icon"></i>Retour sur la ressource</a>
        </div>
        {% for patchNote in resource.patchNotes %}
            <div>
                <div>
                       <p class="version-pns">{{ patchNote.version }}{% if patchNote.getLatest() %} <span class="ui label">Dernière mise à jour</span> {% endif %}</p>
                </div>

                <div>
                    <p class="description-pns">
                    {{ patchNote.description }}
                    </p>
                </div>

                <a class="button-five" href="{{ path('patch_notes_show', {
                        category_slug: patchNote.resource.category.slug ,
                        resource_slug: patchNote.resource.slug ,
                        patch_note_slug: patchNote.slug
                    }) }}">Voir Plus</a>

                <div class="bars-pns"></div>
            </div>

        {% endfor %}
    </div>
</main>
{% endblock %}
