{% extends 'base.html.twig' %}

{% block title %}{{ resource.name }}{% endblock %}

{% block subHeader %}{% endblock %}

{% block body %}
    <div class="ui container">
        <div class="resource-header">
            <div class="resource-author">
                <img src="https://picsum.photos/75/75" alt="">
                <div class="resource-title">
                    <h1>{{ resource.name }}</h1>
                    <p>Publié par <a href="{{ path('user_show', { name: resource.user.name }) }}">{{ resource.user.name }}</a></p>
                </div>
            </div>
            <div class="resource-link">
                <i class="ellipsis horizontal icon"></i>
            </div>
        </div>

        <div class="resource-notation">
            <div class="buttons">
                <a href="#" class="like success">{{ include('components/svg/_hearth.html.twig') }}</a>
                <a href="#" class="like error">{{ include('components/svg/_breakhearth.html.twig') }}</a>
            </div>
            <div class="notation-bar">
                {% if resource.reactions.empty %}
                    <div class="progress"></div>
                {% else %}
                    <div class="progress error">
                        <div class="progress success" style="width: {{ ( resource.reactions|filter(r => r.liked)|length * 100 ) / resource.reactions.count }}%"></div>
                    </div>
                {% endif %}
                {% if app.user %}
                    <div class="buttons">
                        <a href="#" class="like success">{{ include('components/svg/_hearth.html.twig') }} Recommander</a>
                        <a href="#" class="like error">{{ include('components/svg/_breakhearth.html.twig') }} Ne pas recommander</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="resource-content">
            <div class="resource-image">
                <img src="https://picsum.photos/250/250" alt="...">
            </div>

            <div class="resource-description">
                <h2>A propos</h2>
                <hr>
                <div class="resource-code">
                    {{ resource.content|nl2br }}
                </div>
            </div>

            <div class="resource-misc">
                <div class="resource-image">
                    <img src="https://picsum.photos/250/250" alt="...">
                </div>
                <div class="buttons">
                    <button><i class="download icon"></i> Télécharger</button>
                    {% if app.user %}
                        {% if app.user.id == resource.user.id %}
                            <a class="button-five" href="{{ path('user_resource_edit', { id: resource.id }) }}">
                                <i class="edit icon"></i> Editer
                            </a>
                            {{ include('resource/_delete_form.html.twig') }}
                        {% endif %}
                        <button><i class="bullhorn icon"></i> S'abonner</button>
                    {% endif %}

                </div>
                <table class="ui inverted definition table resource">
                    <tr>
                        <td>Nombre de téléchargement</td>
                        <td>5 123 457</td>
                    </tr>
                    {% if resource.latest %}
                        <tr>
                            <td>Dernière version</td>
                            <td><a href="{{ path('patch_notes_show', {
                                    'category_slug' : resource.category.slug,
                                    'resource_slug' : resource.slug,
                                    'patch_note_slug' : resource.latest.slug
                                }) }}">{{ resource.latest.version }}</a></td>
                        </tr>
                        <tr>
                            <td>Dernière mise à jour</td>
                            <td>{{ resource.latest.createdAt.format('d/m/Y') }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Première publication</td>
                        <td>{{ resource.createdAt.format('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td>Taille du fichier</td>
                        <td>452Mo</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ui">
            <div>
                <a href="{{ path('patch_notes_index', {
                    category_slug : resource.category.slug,
                    resource_slug : resource.slug
                }) }}">Voir les versions</a>
            </div>
        </div>
        <div class="ui comments resource-comments">
            <h2>Commentaires</h2>
            <hr>

            <div class="comment-form">
                {% if app.user %}
                    <form action="{{ path('resource_send_comment', {
                        category_slug: resource.category.slug,
                        resource_slug: resource.slug
                    }) }}" class="ui form" data-type="commentForm" data-target="commentList" method="post">
                        <div class="field">
                            <textarea name="message" rows="2" placeholder="Laisser un commentaire..."></textarea>
                        </div>
                        <div class="field">
                            <button class="ui submit button"><i class="paper plane icon"></i> Envoyer</button>
                        </div>
                    </form>
                {% else %}
                    Veuillez-vous <a href="{{ path('user_login') }}">connecter</a> pour poser un commentaire.
                {% endif %}
            </div>

            <div id="commentList" data-type="commentList" data-url="{{ path('resource_comments', {
                category_slug: resource.category.slug,
                resource_slug: resource.slug
            }) }}"></div>
        </div>
    </div>
{% endblock %}
