<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{% block title %}Welcome! admin{% endblock %}</title>

        {{ encore_entry_link_tags('admin') }}
        {% block stylesheets %}
        {% endblock %}

        {{ encore_entry_script_tags('admin') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block sidebar %}
            {{ include('components/admin/_sidebar.html.twig') }}
        {% endblock %}
        {% block header %}
            {{ include('components/admin/_header.html.twig') }}
        {% endblock %}

        <div class="pusher">
            <div class="main-content">
                <div class="ui grid stackable padded">
                    <div class="column">
                        {% block flash %}
                            {{ include('components/_flashes.html.twig') }}
                        {% endblock %}
                    </div>
                </div>
                {% block body %}

                {% endblock %}
            </div>
        </div>
    </body>
</html>
