{% extends 'admin.html.twig' %}


{% block title %}{{ resource.name }}{% endblock %}

{% block body %}
    <div class="ui container my-3">
        <div class="ui segment t-justify">
            <div>
                <img src="{{ vich_uploader_asset(resource, 'imageFile') ?: 'https://picsum.photos/75/75' }}"
                     alt="{{ resource.name }}" width="100rem" height="auto" style="border-radius: 50%">

                <h2>{{ resource.name }}</h2>
                <div class="ui label floated right">
                    {{ resource.validation|iconRole|raw }} {{ resource.validation|stateName }}
                </div>
            </div>
            <div class="content">
                <p>Crée par : <a href="{{ path('user_show', {
                        name: resource.user.name
                }) }}">{{ resource.user.name }}</a></p>
            </div>
            <div class="ui segment t-justify">
                {{ resource.description }}
            </div>
            <div class="ui segment t-justify">
                {{ resource.content }}
            </div>

            <div class="flex-center">
                {{ form_start(form) }}
                <div class="field">

                    {% if not resource.category.slug %}
                        <div class="ui label">
                            Catégorie en attente de validation !
                            <a href="{{ path('admin_category_edit', {
                                id: resource.category.id
                            }) }}"><i class="arrow right green icon"></i></a>
                        </div>
                    {% endif %}

                    <label for="">Catégorie</label>
                    <select class="ui search dropdown select-categories" name="categories"
                            data-url="{{ path('api_categories') }}">
                        {% if resource and resource.category %}
                            <option value="{{ resource.category.id }}" selected>{{ resource.category.name }}</option>
                        {% endif %}
                    </select>
                </div>
                {{ form_widget(form) }}
                <div class="field">
                    <button type="submit" class="ui button">Mettre à jour</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
