<div class="ui fluid card">
	<div class="header-card" style="background-image: url(https://picsum.photos/250/75);">
		<div class="ui labeled input download-card">
			<div class="ui label">
				<i class="download icon"></i>
			</div>
			<div class="count">4 121 212</div>
		</div>
	</div>

	<div class="picture">
		<img src="{{ vich_uploader_asset(resource, 'imageFile') ?: 'https://picsum.photos/75/75' }}" alt="">
	</div>

	<div class="content">
		<h2 class="title">{{ resource.name }}</h2>

		{% if not resource.validation|isValidState %}
			<span class="ui {{ resource.validation|isDeniedState ? 'error' : '' }} label">
				{{ resource.validation|stateNameWithIcon|raw }}
			</span>
		{% endif %}

		<h3 class="subtitle">
			{% if resource.category.slug %}
				<a href="{{ path('category_resource', {category_slug: resource.category.slug}) }}">
					{{ resource.category.name }}
				</a>
			{% else %}
				<span>
					{{ resource.category.name }}
				</span>
			{% endif %}
		</h3>
		<div class="description">
			{{ resource.description }}
		</div>
	</div>
	{% if resource.validation|isValidState %}
		<a class="ui bottom attached button"
		   href="{{ path('resource_show',{
			   category_slug : resource.category.slug,
			   resource_slug : resource.slug, })
		   }}">Voir Plus</a>
	{% elseif resource.user.id == app.user.id %}
		<a class="ui bottom attached button"
		   href="{{ path('user_resource_edit', {
			   id: resource.id
		   }) }}">Editer</a>
	{% endif %}
</div>
