{% set routeName = app.request.attributes.get('_route') %}

<header>
    <nav class="menu-header">
        <div class="item-logo">
            <a href="{{ path('app_home') }}">
                {{ include('components/svg/_logo.html.twig') }}
            </a>
        </div>
        <div class="item-bars" id="showMenu">
            <i class="bars icon"></i>
        </div>
        <div id="headerMenu">
            <ul class="menu">
                <li class="menu-item">
                    <div class="ui simple dropdown item">
                        <i class="folder icon"></i> Categories
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            {% for category in getCategories() %}
                                <a class="item" href="{{ path('category_resource', {category_slug: category.slug}) }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="menu-item">
                        <a href="{{ path('user_resource_new') }}" class="item">
                            <i class="plus icon"></i> Ressource
                        </a>
                    </li>
                    {% if is_granted('ROLE_MODERATOR') %}
                        <li class="menu-item">
                            <a href="{{ path('admin') }}" class="item">
                                <i class="icon tachometer alternate"></i> Administration
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>

            <div class="header-host">
                <ul class="menu">
                    {% if app.user %}
                        <li class="menu-item">
                            <a href="{{ path('user_profile') }}" class="item-image">
                                <img src="https://picsum.photos/75/75" alt="...">
                                {{ app.user.name }}
                            </a>
                        </li>
                        <li class="menu-item ">
                            <a href="{{ path('user_logout') }}">
                                <i class="sign out alternate icon"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="menu-item">
                            <a href="{{ path('user_login') }}" class="item">
                                Se connecter
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{{ path('user_register') }}" class="item">Inscription</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

