{% extends 'base.html.twig' %}
{% block title %}{{ user.name }}{% endblock %}

{% block subHeader %}{% endblock %}
{% block body %}
	<main class="main-profil">
		<div class="ui my-2 container flex-profil">

			<div class="flex-center bottom-profil">
				<div>
					<img class="profil-img" src="https://picsum.photos/300/300">
				</div>
				<div class="profil-right">
					<h1>{{ user.name }}</h1>

					{% if not self and app.user %}
						<button class="ui button floated right">S'abonner</button>
					{% endif %}

					{% if self %}
						<div class="ui compact menu user-btns">
							<div class="link item">
								<a href="#">Editer Mon Profil</a>
							</div>
							<div class="link item">
								<a href="{{ path('user_resource_new') }}">
									Ajouter une ressource
								</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
			<div class="pc-right">
				<div class="border-pc">
					<div class="profils-count">
						<p>Suivi par <span class="bold">{{ user.subscribedUsers.count }}</span> Utilisateurs</p>
					</div>

					<div class="profils-count">
						<p><span class="bold">{{ user.resources.count }}</span> Ressources Disponibles</p>
					</div>
				</div>

				<div class="profil-slug">
					<p class="t-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
						amet asperiores blanditiis et facere fugiat impedit itaque iure magnam modi officia
						officiis perspiciatis quisquam similique suscipit tempore ut veniam, voluptatibus?
					</p>
				</div>
			</div>

		</div>


		{{ include('components/_section.html.twig',{
			title: (self ? 'Mes ressources' : ('Ressource de ' ~ user.name)),
			subTitle: '',
			resources: resources,
			paginate: true
    	}) }}
	</main>
{% endblock %}
